@tailwind base;
@tailwind components;
@tailwind utilities;


.chart-slider {
  height: auto;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  overflow-y: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: y mandatory;
}

.chart-slide {
  scroll-snap-align: start;
}